<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Display</title>
  </head>
  <body>
  <marquee><h2>Welcome to my Website<h2></marquee>
  <div class='container'>
    <h3>Details are as shown Below:</h3>


<table class="table table-dark">

  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">medical_name</th>
      <th scope="col">owner_name</th>
      <th scope="col">phone_no</th>
      <th scope="col">address</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
</table>

{% for post in posts %}

<table class="table table-bordered">
    
  <tbody>
    <tr>
      <td>{{post.id}}</td>
      <th scope="row">{{post.medical_name}}</th>
      <td>{{post.phone_name}}</td>
      <td>{{post.phone_no}}</td>
      <td>{{post.address}}</td>
      <td><a class="btn btn-danger" href={% url 'delete_view' id=post.id %} role="button">Delete</a></td>
      <td><a class="btn btn-danger" href={% url 'update_view' id=post.id %} role="button">Edit</a></td>
    </tr>
    </tbody>
</table>   
    
    {% endfor %}

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>